 body{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
    background-color: rgb(244, 244, 244);
 }
 
 li{
    text-transform: capitalize;
    list-style-type: none;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 a{
    text-decoration: none;
    color: black;
 }
 .logo{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }